<form method="post" action="{{ path('reservation_confirm', {'idreservation': reservations.getIdreservation()}) }}" onsubmit="return confirm('Voulez vous vraiment confirmé cette reservations?');">
    <input type="hidden" name="_token" value="{{ csrf_token('modifier' ~ reservations.getIdreservation()) }}">
    <span class="icon text-white-50">

    <button class="btn btn-info btn-icon-split">Confirmer cette réservation</button>
                                                </span>


</form>
